<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Nom-inator</h1>
 
  <div>
     <tr><td> uid: {{ users['uid'] }}</td><br>
    <td>Name: {{ users['name']}}</td><br>
    <td>localtion id: {{ users['lid']}}</td><br>
    <td>list id: {{ listid}}</td>
  </tr> 
    
  </div>

  <div> <br>Favourites Restaurants: </div>
  <div>
    {% for n in favs %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


  

<p><a href="/signout">sign out</a></p>



</body>


</html>
