<html>

<head>

 <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/skeleton.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">

  <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/noun_163373_cc.png') }}">

</head>


<body>

    <div class='fixed' id='navigation'>
      <a style='position: absolute; left: 0px; margin-left: 1em; margin-top: auto; margin-bottom: auto;' href="/">
        <img style='height:3.5em;' src='{{ url_for('static',filename='assets/noun_163373_cc.png') }}' />
      </a>
      <div class='container'>
        <div class='row'>
          <div class='nine columns'>
            <a class='left' href="/#nao">Feed me nao</a>
            <a class='left' href="/#later">When should I visit?</a>
            <a class='left' href="/restaurant">All Restaurants</a>
          </div>
          <div class="three columns">
            <a class='right' href="/signout">Sign Out</a>
            <a class='right' href="/#profile">Profile</a>
          </div>
        </div>
      </div>
    </div>

  <div class="container">

    <div class='row'>
        <img style='margin-top:20vh; margin-left: auto; margin-right: auto; display: block; height:25vh;' src='{{ url_for('static',filename='assets/noun_188703_cc.png') }}' />
        <h1 style='margin-bottom:10vh; text-align: center;'>nom-inate now</h1>
    </div>

    <p>After looking at your preferences, the Flying Spaghetti Monster told us you'd want to eat at one of these restaurants.</p>

    <table class="u-full-width">
      <thead>
      <tr>
        <th>Add to Favorites</th> 
        <th>Restaurant</th> 
        <th>Rating</th>
        <th>ZIP</th>
        <th>City</th>
        <th>State</th>
        <th>Street Address</th>
        <th>Cross Streets</th>
        <th>Get Directions</th>
      </tr>
      </thead>
      {% for n in ranked_restaurants %}
        <tr>
        <td><a href="/add_fav?rid={{n['rid']}}">+</a></td>  
        <td><a href="/restaurant?rid={{n['rid']}}">{{n['rname']}}</a></td>
        <td>{{n['rate']}}</td>
        <td>{{n['zip']}}</td>
        <td>{{n['city']}}</td>
        <td>{{n['state']}}</td>
        <td>{{n['st_addr']}}</td>
        <td>{{n['cross_st']}}</td>
        <td><a href="/restaurant?rid={{n['rid']}}">Go</a></td>
        </tr>
      {% endfor %}
    </table>

  </div> 

</body>


</html>
