<html>

<head>

 <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/skeleton.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">


  <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/noun_163373_cc.png') }}">

</head>


<body>

    <div class='fixed' id='navigation'>
      <a style='position: absolute; left: 0px; margin-left: 1em; margin-top: auto; margin-bottom: auto;' href="/">
        <img style='height:3.5em;' src='{{ url_for('static',filename='assets/noun_163373_cc.png') }}' />
      </a>
      <div class='container'>
        <div class='row'>
          <div class='nine columns'>
            <a class='left' href="/#nao">Feed me nao</a>
            <a class='left' href="/#later">When should I visit?</a>
            <a class='left' href="/restaurant">All Restaurants</a>
          </div>
          <div class="three columns">
            <a class='right' href="/signout">Sign Out</a>
            <a class='right' href="/#profile">Profile</a>
          </div>
        </div>
      </div>
    </div>

  <div class="container">

    <div class='row'>
        <img style='margin-top:20vh; margin-left: auto; margin-right: auto; display: block; height:25vh;' src='{{ url_for('static',filename='assets/noun_188690_cc.png') }}' />
        <h1 style='margin-bottom:10vh; text-align: center;'>nom-inate later</h1>
    </div>

    <p style="text-align: center">The Flying Spaghetti Monster told us that if you hate waiting for a table, you'd want to eat at <b>{{restaurant_name['rname']}}</b> during one of these times.</p>

    {% for r in rankings %}
    <h5 style='text-align: center;'>
    On <span style='font-weight: 400;'>{{r[0]}}</span> during <span style='font-weight: 400;'>{{r[1]}}</span>.
    </h5>
    {% endfor %}

    
  </div> 
  

</body>


</html>
