<html>

<head>

 <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/skeleton.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">


  <link rel="icon" type="image/png" href="{{ url_for('static',filename='assets/noun_163373_cc.png') }}">

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>


<body>

  <div class="container">

    <div class='row'>
        <img style='margin-top:20vh; margin-left: auto; margin-right: auto; display: block; height:25vh;' src='{{ url_for('static',filename='assets/noun_188690_cc.png') }}' />
        <h1 style='margin-bottom:10vh; text-align: center;'>nom-inate later</h1>
    </div>

    <p style="text-align: center">The Flying Spaghetti Monster told us you'd want to eat at <b>{{restaurant_name['rname']}}</b> during one of these times.</p>

    {% for r in rankings %}
    <h5 style='text-align: center;'>
    On {{r[0]}} during {{r[1]}}.
    </h5>
    {% endfor %}

    
  </div> 
  

</body>


</html>
